header {
  align-items: center;
  border-radius: 0 0 12px 12px;
  display: flex;
  justify-content: center;
}

header h1 {
  color: white;
  font-family: Monoton , sans-serif;
  font-weight: 100;
  margin-left: 24px;
  margin-right: 18px;
  text-align: center;
}

header .star-wars {
  animation: neon1 1.5s ease-in-out infinite alternate;
  font-size: 48px;
}

header .planets-search {
  animation: neon2 1.5s ease-in-out infinite alternate;
  font-size: 32px;
}

header .starwars-fight {
  width: 140px;
}


header .starwars-run-robo {
  width: 80px;
}

/* animacao retirada do site
( https://ggames.com.br/tutorials/article/73-efeito-neon-em-html-e-css/ )
 --> */

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF3939, 0 0
    70px #FF3939, 0 0 80px #FF3939, 0 0 100px #FF3939, 0 0 150px #FF3939;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF3939, 0 0
    35px #FF3939, 0 0 40px #FF3939, 0 0 50px #FF3939, 0 0 75px #FF3939;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #138703, 0 0
    70px #138703, 0 0 80px #138703, 0 0 100px #138703, 0 0 150px #138703;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #138703, 0 0
    35px #138703, 0 0 40px #138703, 0 0 50px #138703, 0 0 75px #138703;
  }
}

/* <-- */

@media screen and ( max-width : 768px ) {

  header .star-wars {
    font-size: 28px;
  }

  header .planets-search {
    font-size: 20px;
  }

  header .starwars-fight {
    width: 100px;
  }

  header .starwars-run-robo {
    width: 50px;
  }

  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 30px #FF3939, 0 0
      60px #FF3939, 0 0 70px #FF3939, 0 0 90px #FF3939, 0 0 140px #FF3939;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #FF3939, 0 0
      25px #FF3939, 0 0 30px #FF3939, 0 0 40px #FF3939, 0 0 65px #FF3939;
    }
  }

  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 30px #138703, 0 0
      60px #138703, 0 0 70px #138703, 0 0 90px #138703, 0 0 140px #138703;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #138703, 0 0
      25px #138703, 0 0 30px #138703, 0 0 40px #138703, 0 0 65px #138703;
    }
  }

}

@media screen and ( max-width : 480px ) {

  header .star-wars {
    font-size: 24px;
  }

  header .planets-search {
    font-size: 18px;
  }

  header .starwars-fight {
    width: 80px;
  }

  header .starwars-run-robo {
    width: 40px;
  }

}
