.order-filter-section {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 4px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 24px;
  padding: 24px 18px;
}

.order-filter-section .order-by-label {
  display: flex;
  flex-direction: column;
}

.order-filter-section .asc-desc-div {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
}

.order-filter-section label {
  font-family: Acme , sans-serif;
  font-size: 18px;
}

.order-filter-section select {
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  font-family: Fuzzy Bubbles , cursive;
  font-size: 16px;
  font-weight: 100;
  margin: 4px 0;
  outline: none;
  padding: 8px;
}


.order-filter-section select:focus {
  box-shadow: 0 0 2px 2px rgb(52, 181, 0);
}

.order-filter-section input {
  margin: 6px 0;
}

.order-filter-section button {
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 4px black;
  cursor: no-drop;
  font-family: Acme , sans-serif;
  font-size: 18px;
  margin: 24px 0;
  padding: 8px 24px;
}

.order-filter-section button:enabled {
  background-color: rgb(52, 181, 0);
  cursor: pointer;
}

@media screen and ( max-width : 768px ) {

  .order-filter-section label, .order-filter-section button {
    font-size: 16px;
  }

  .order-filter-section select {
    font-size: 14px;
  }

}

@media screen and ( max-width : 480px ) {

  .order-filter-section label, .order-filter-section button {
    font-size: 14px;
  }

  .order-filter-section select {
    font-size: 12px;
  }

}
